{% extends 'base.html.twig' %}

{% block title%} Modificar Cliente {% endblock %}

{% block body %}

 <h1>Modificar Cliente</h1>

  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end (form) }}

{% endblock %}